*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
}

body{
    width: 390px;
    height: 844px;
    position: relative;
}

div{
    
    position: absolute;
    left: 0;
}

header{
    width: 100%;
    height: 47px;
}

footer{
    width: 100%;
    height: 34px;
}

.setting_header{
    width: 100%;
    height: 34px;
    padding: 5px 31px;
    justify-content: center;
    display: flex;
}

.setting_header>i{
    position: absolute;
    top: 10px;
    left: 17px;
}

.profile{
    width: 100%;
    height: 82px;
    top: 81px;
    left: 0;
}

.profile>*{
    position: absolute;
}

.profile>img{
    top: 19px;
    left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile>strong{
    top: 23px;
    left: 80px;
}

.profile>i{
    top: 35px;
    right: 22px;
}

.profile>small{
    top: 45px;
    left: 80px;
    font-size: 12px;
}

.my_info{
    top: 178px;
}

.repost{
    top: 234px;
}

.saved_file{
    top: 308px;
}

.store{
    top: 364px;
}

.home_set{
    top: 438px;
}

.main_set{
    top: 494px;
}

.alarm_set{
    top: 573px;
}

.secure_set{
    top: 629px;
}

.protection_policy{
    top: 708px;
}

.set_bar{
    position: fixed;
    top: 742px;
}

.my_info,
.repost,
.saved_file,
.store,
.home_set,
.alarm_set,
.protection_policy{
    width: 100%;
    height: 54px;
    padding: 17px 22px;
    justify-content: space-between;
    display: flex;
}

.main_set,
.secure_set{
    width: 100%;
    height: 77px;
    padding: 17px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_set_text,
.secure_set_text{
    position: unset;
    width: 195px;
    height: 43px;
}

.main_set_text,
.secure_set_text>small{
    font-size: 12px;
}

.set_bar{
    width: 390px;
    height: 68px;
    padding: 17px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set_bar div{
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set_bar div>p{
    font-size: 13px;
}

.set_bar div>i{
    font-size: 21px;
}